/* TraineeProfile.css */
.trainee-profile-container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .paper-container {
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .profile-title {
    margin-bottom: 16px;
  }
  
  .profile-picture {
    width: 120px;
    height: 120px;
    margin: auto; /* Center the image horizontally */
    margin-bottom: 16px;
  }
  
  .profile-field {
    margin-bottom: 16px;
  }
  
  .trainers-list-title {
    margin-bottom: 16px;
  }
  
  .trainers-list-select {
    width: 100%;
  }
  