/* Apply some basic styles to the table container */
.Box {
    margin-top: 20px;
  }
  
  /* Style the table headers */
  .TableHead {
    background-color: #f2f2f2;
  }
  
  /* Style the table rows */
  .TableRow:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .TableRow:hover {
    background-color: #e0e0e0;
  }
  
  /* Style the cells (optional) */
  .TableCell {
    padding: 12px;
    text-align: left;
  }
  
  /* Style the entire table */
  .Table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  /* Style the cells within the table */
  .TableCell {
    border: 1px solid #ddd;
  }
  
  /* Add some space between table cells */
  .TableCell {
    padding: 8px;
  }
  